# API Base URL for backend server
VITE_API_URL=http://localhost:5000/api/v1

# Set to true to enable graceful fallback for mock registration & password reset if backend does not implement them yet
VITE_ENABLE_MOCK=true
